@import url("https://fonts.googleapis.com/css2?family=Tiny5&display=swap");

html {
  overflow: hidden;
  width: 100%;
}

body {
  background-color: rgb(61, 59, 89);
}

.App {
  background-color: rgb(61, 59, 89);
  /*background: url("./40.png"), rgb(61, 59, 89);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px 100px;*/
  overflow: hidden;
  width: 100%;
  margin-top: 10px;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  padding: 10px;
}

.button-style {
  background: transparent;
  border: 1px solid transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  min-height: 40px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  background-color: #9792e3;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.button-style:hover {
  background-color: #827dc4;
}

.info-button {
  position: absolute;
  border-radius: 50%;
  border: 2px solid #9792e3;
  width: 30px;
  height: 30px;
  background-color: transparent;
  color: #9792e3;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  right: 25%;
  top: 30%;
}

.overlay {
  background-color: transparent !important;
  opacity: 0.5;
  height: 95vh;
  width: 100vw;
  background: url("./radar.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px 400px;
  position: absolute;
  filter: invert(1);
  pointer-events: none;
}

.radar-container {
}

.radar-div {
  translate: 0px -40px;
}

.radar-icon {
  animation: pulse 5s ease-in-out 0s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.9;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes grow {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.5;
  }
}

.pulseLoader {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: white;
  outline: 1px solid transparent;
  animation: pulseanim 5s ease-in-out infinite;
  position: absolute;
  pointer-events: none;
  z-index: -999;
}

@keyframes pulseanim {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  60% {
    transform: scale(0);
    opacity: 0.5;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}

.leaflet-container {
  width: 500px;
  height: 200px;
}

.form-text {
  color: aliceblue;
}

.drop-selector {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  min-height: 40px;
  background-color: #9792e3;
  border-radius: 10px;
  text-align: center;
  margin: 20px;
}

.drop-selector button {
  background: transparent;
  border: 0px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  padding: 12px;
}

.active-drop {
  background-color: #7e7abb !important;
}

.message-builder-container {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  align-items: center;
  justify-content: center;
}

.message-builder-container select {
  background-color: #9792e3;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  font-family: monospace;
}

.contract-form-container {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  align-items: center;
  justify-content: center;
}

.contract-form-container input {
  background-color: #9792e3;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  font-family: monospace;
}
